{% extends "base.html" %}


{% block content %}

{% include 'nav_back.html' %}

  <article data-pagefind-body data-pagefind-index-attrs="{{ article.category }}">
    <header>
      <h1 class="post-title">{{ article.title }}</h1>

      <div class="post-date">
        <time datetime="{{ article.date.isoformat() }}">
          {{ article.date|strftime('%b, %d %Y') }}
        </time>
      </div>

    </header>

    {{ article.content }}

  </article>

  <footer>
    <button class="back-to-top" onclick="location.href='#top'">
      <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" class="astro-vj4tpspi"></path> </svg>
      Back to Top
    </button>
  </footer>

  {#
  <div class="hidden" data-pagefind-body>
    {{ article.category }}
  </div>
  #}

  {#<div data-pagefind-meta="category:{{ article.category }}"></div>#}

{% endblock %}
